@use './fonts';
@use './typography';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 box-border font-sf ;
  }
  body{
    @apply bg-darkBg;
  }
  a{
    @apply cursor-pointer hover:text-slate-300;
  }
}
//container 

@layer components {
  .container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1512px;
    padding-left: 18px;
    padding-right: 18px;
    
    @media (min-width: 768px) {
      padding-left: 48px;
      padding-right: 48px;
    }
    @media (min-width: 1024px) {
      padding-left: 96px;
      padding-right: 96px;
    }
  }
}

//buttons 

@layer components{
  .text-gradiant-green {
    @apply bg-gradient-to-b bg-clip-text text-transparent;
    background-image: linear-gradient(to bottom, #5EFB7E, #ADFA3C);
  }

  .btn{
    @apply leading-3 px-6 py-4 sm:py-[10px] sm:px-3
    font-bold border rounded-2xl;
    
    &.btn-green{
      @apply border-perrotGreen bg-darkGreen hover:bg-[#103900c4];
    }
    &.btn-black{
      @apply bg-black text-white border font-semibold border-black hover:bg-slate-900;
    }
  }
}